/* 
    Document   : controlStyle1
*/


 
#main-button {
    -fx-background-color: 
        #000000,
        linear-gradient(#121212 0%, #1c1c1c 25%, #262626 75%, #3b3b3b 100%),
        linear-gradient(#525252 0%, #404040 25%, #5e5e5e 75%, #737373 100%);
    -fx-background-insets: 0,2;
    -fx-background-radius: 9,8,5,4;
    -fx-padding: 15 30 15 30;
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 13px;
    -fx-font-color: #FFFFFF;
}

.buttontext {
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 20px;
    -fx-font-color: #FFFFFF;
}

.largelabel {
    -fx-font-size: 30pt;
}

.smalllabel {
    -fx-font-size: 20pt;
}

